
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header*/
.header{
	margin: 0;
    padding: 0;
    background-color: #333;
    opacity: 0.9;
    top: 0;
    position: fixed;
    width: 100%;
    display: block;
}
h1{
	float: left;
	color: #fff;
	margin: 0;
	padding-left:10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    float: right;
}
nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
    cursor: pointer;
}

/*hero*/
.hero{
    margin: 0;
    padding: 0;
	background: url(https://images.unsplash.com/44/C3EWdWzT8imxs0fKeKoC_blackforrest.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=fe6f7331adfd7fc30903c18ee452cbab) no-repeat center center;
	background-size: cover;
    width: 100%;
	height: 400px;
    clear: both;
}
.hero-phrase{
    padding-top:70px;
}
.hero h2{
    color: #fff;
    padding-left:5%;
    font-size: 38px;
}

/*projects*/
#projects{
    background-color: red;
}
#projects .row{

}
#projects .column{
    width: 33.3%;
    float: left;
}
.inner-column{
    padding: 10px;
}
#projects h3{
    text-align: center;
}
img{
    width: 100%;
}
/*About*/
#about{
    text-align: center;
}

#about .column{
    width:50%;
    float:left;
}
#about img{
    width: 60%;
}
/*footer*/
.footer{
    width: 100%;
    height: 100px;
    background-color: #333;
    margin: 0;
    clear: both;
}

@media (max-width: 700px){
    #about .column, #projects .column{
        width: 100%;
    }
}